/* tab options */
.tab_options{
    box-shadow: var(--border-white) 0px -0.5px 0px inset;
}
.options_wrapper{
    display:flex;
}
.tab_item{
    margin-right: 24px;
    padding:12px 12px 20px 12px;
    cursor: pointer;
}
.tab_name{
    color: var(--inactive-text);
    font-size: 20px;
    font-weight: 500;
    margin-left :10px
}
.tab_image_container{
    height:60px;
    width:60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color:var(--inactive-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.tab_image {
    height: 30px;
    width: 30px;
  }
.active_tab{
    border-bottom:2px solid var(--zomato-red);
}
.active_tab .tab_name{
    color:var(--zomato-red);
}






