/* common */
.container{
   max-width:1200px;
   margin:0px auto;
   padding:0 20px;
}
.absolute_center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.collection_title {
    font-size: 30px;
    color: var(--heading-text);
    margin-bottom: 32px;
    font-weight: 500;
  }
  
  .slick-next:before,
  .slick-prev:before {
    background: #ff5200;
  }
 
